.jumbotron{
     background-color: yellow;
 }

 .btn{
     background-color: yellow;
 }

 footer{
     padding: 10px 10px 0 10px;
     background-color: yellow;
     margin-bottom: 0px;
     margin-top: 10px;
     overflow: hidden;
 }

 .card-hotel{
     flex: 1 150px;
     padding: 2px 2px 2px 5px;
     margin-top: 10px;
 }

 .btn-reserva{
     width: 100%;
     
 }